* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}